body {
    background-color: #f0f2f5;
}

.player-wrapper {
    max-width: 700px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

video {
    border-radius: 12px;
}

#btn-play-pause {
    transition: all 0.2s;
}

#btn-play-pause:hover {
    transform: scale(1.05);
}

.form-range::-webkit-slider-thumb {
    background: #0d6efd; /* Cor azul do Bootstrap */
}

.form-range::-moz-range-thumb {
    background: #0d6efd;
}

/* Efeito de preenchimento da barra */
#barra-progresso {
    height: 8px;
    cursor: pointer;
}